#image{
    height: 200px;
    width: 200px;
}
#navbarSupportedContent{
    padding-right: 100px;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
