#navbarSupportedContent{
    padding-right: 100px;
    margin-left: -28px;
}
* { text-decoration: none;}
  @import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
  * {
    box-sizing: border-box;
  }
  section h2 {
    text-align: center;
    text-transform: uppercase;
  }
  section .text-container {
    display: flex;
  }
  section .text-container .text-box h3 {
    text-align: center;
    text-transform: uppercase;
  }
  
  @media (max-width: 900px) {
    section h1{
      text-align: center;
    }
    section .text-container {
      flex-direction: column;
    }
  }
  
  .reveal {
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
.btnyoutube{
    cursor: pointer;
    background: white;
    font-size: 20px;
    color: red;
    border-color: red;
    border-radius: 10px;
}
.btnyoutube:hover{
    color: white;
    background: red;
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
#SocialMedia1{
  background-color:#E4405F;
}
#SocialMedia2{
  background-color:#1877F2;
}
#SocialMedia3{
  background-color:#1DA1F2;
}
#copyright{
  color: rgb(5, 5, 5);
}
#contact1{
  text-decoration: underline;
  color: black;
  font-family: serif;
}
#brototype1{
  color: black;
  font-style: italic;
  font-size: 28px;
}
#brototype2{
  font-size:15px;
  font-style: italic;
}
#home-section1{
  font-size: 18px;
}
#home-section-para{
  font-style: italic;
  color: black;
}
#home-section4{
  font-style: oblique;
  font-size: 20px;
  margin-top: 20px;
}
#header{
  background-color: rgb(88, 88, 214);
}
#header1{
  font-size: 40px;
  padding-left: 10%;
  font-style: italic;
}
#aboutme1{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}


