#header{
    z-index: 2;
}
#image{
    height: 250px;
    width: 250px;
}
#navbarSupportedContent{
    padding-right: 100px;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
